In the initial stage of learning Data Science and Machine Learning, the first question that comes to our mind is, Which programming language should I know as a Data Scientist? or What's the best programming language for machine learning? The Internet is flooded with these questions. But frankly, there is nothing like the "best programming language" in any computer science field. it all depends upon the task that we are targeting. But considering the tasks in the Machine Learning and Data Science domain, Python is the preferred programming language. But have we ever thought why?

The reason is that a larger community in these domains prefers Python over all other languages. We can easily find the solutions to various road blockerrs while developing machine learning solutions.

**Key takeaways from this blog**

After going through this blog, we will be able to understand the following things:
1. What is Python?
2. What are the various data types in python?
3. What are expressions and variables in python?
4. What is string, and what operations can we perform on strings?

Let's start our journey towards knowing the fundamental concepts of Python.

## What is Python?

Python is an object-oriented high-level computer programming language that works across multiple platforms like Window, Linux, Mac or even in raspberry-pi devices. This languges was developed in the 1980s and first released in 1991. In can be used for various task, mainly
- AI Development
- Software development
- Web Development
- System scripting

Our article will mainly focus on the basics required for developing machine learning and data science applications.

## What are the data types in Python?

In Python, data types are classes, and every value belong to any particular data type. In this language, everything is an object. Objects of the data type classes are known as variables. Some popular data types in Python are:

### Python Numbers

There are three forms of data types in the category of python numbers: integers, floating numbers and complex numbers. In Python 2.x, there is another data type named **long** to store longer integer values, but this has been removed from Python 3.x.

**Integers**

The first data type is integer and is represented using **int**. In Python 3.x, we don't have any upper limit on the values of integers. It dependd upon our system's memory. The more the system's memory, the higher the integer value can go. We can use inbuild Python functions `type()` of `isintance()` to know about the data type of any value or variable.

In [1]:
a = 10
type(a)

int

In [2]:
type(10)

int

In [3]:
isinstance(10, int)

True

In [5]:
isinstance(7.11, int)

False

The `isinstance` function is used to chech whether any value or variable is an integer or not and accordingly throws output as True or False.

**Floating Numbers**

We represent floating-point numbers as **float** and the difference between float and int is that float can take values between two integers. Decimal points are used as a characteristic to identify float values. Scientific notations can also be used if the number of digits appearing after the decimal is very high. The character **e** or **E** followed by any positive or negative integer is used to specify the scientific notation.

In [6]:
a = 10.0

In [7]:
type(a)

float

In [8]:
b = 7.11

In [9]:
type (b)

float

In [10]:
isinstance(a, float)

True

In [11]:
isinstance(a, int)

False

In [12]:
### Scientific Notation example
7.11e11

711000000000.0

The maximum value for any floating-point number can be approximately 1.8 x 10^308. Python treats numbers beyond that as infinity.

In [13]:
1.79e308

1.79e+308

In [14]:
1.8e308

inf

**Complex Numbers**

Complex numbers are represented using their real component and the imaginary component aloong with the letter **j**.

In [15]:
a = 7 + 11j
type(a)

complex

### String

In Python, we represent a sequence of characters as strings, denoted by `str`. Boundaries of any string data type are defined by either a single quote or a double quote.

In [16]:
a ='Single quote string'
b ="Double quote string"

In [17]:
type(a)

str

In [18]:
type(b)

str

Depending on our system's memory, we can store as many characters in strings. It can be empty as well. To represent an empty string,

In [19]:
''

''

But what if we have a single quote present as a character?

In [20]:
'We represent a single quote using' as as character'

SyntaxError: unterminated string literal (detected at line 1) (4027487587.py, line 1)

As shown, it will produce a syntax error as the opening single quote got paired with a closing single quote (present before the *as* word), and the characters beyond that do not have any opening single quote. To avoid these errors, we have two fixes for that:
- If the singl quote is present as the characters, use double quotes to defined the boundaries.

In [21]:
"We represent a single quote using ' as a character"

"We represent a single quote using ' as a character"

- Use **Escape sequences** in strings.

Placing a backslash in front of the quote character makes Python treat it as a normal character and forget its spcecial meaning. There are serval other examples as well, where the escape sequence changes the behavior of the normal/spacial characters in the strings, like

In [22]:
print("anb")

anb

In [23]:
# Placing backslash before n, make it a newlin character
print("a\nb")

a
b

In [24]:
# Placing backslash before t, makes it a tab character
print("a\tb")

a	b

In [25]:
# Placing backslash before backslash removes the 
# spcial meaning of backslash
print("a\\nb")

a\nb

### Boolean

In Python 3, we have a boolean data type that can take either of the two values, True (with captial T) or False (with captial F). We can check the type of the variables as:

In [26]:
type(True)

bool

This data type is used to check the truth of any statement. In Python, we use single *=* to assign value to the variable and double *==* to check the statement's validity.

In [27]:
a = 5
a == 5

True

### Converting Data Types

In Python, we have the flexibility to change the datatype of values or variables, but only when the conversion is valid.

In [28]:
# Float to int conversion
a = int(2.0)
type(a)

int

In [29]:
a = float(2)
type(a)

float

In [30]:
# Float to int conversion 
a = int(7.11)
a

7

If we note the second example of float to int conversion where we used `int(7.11)`, it just applied the greatest integer function on the float value. The answer would be the same even when the value is 7.9. These conversions are also possible in the case of strings but only when strings have numbers present in them.

In [31]:
a = '2022'
type(a)

str

In [32]:
int(a)

2022

In [33]:
float(a)

2022.0

But, when the strings would not be numbers then it will produce the `ValieError` like this

In [34]:
a = '1 1'
int(a)

ValueError: invalid literal for int() with base 10: '1 1'

That means this type of conversion is not allowed. In short, we can say that all float or int data types can be converted to a string, but all string data types can not be converted into int/float data types. 

Now, as we know the basic data types present in Python, let's understand the concept of expression and variables:

### What are Expression and Variables in Python?

**Expressions**

Expressions are the operations that we want our computers to perform. For example, basic arithmetic operations like

In [35]:
# Numbers are operands and mathematical symbols are operators
5 + 4.99

9.99

In [36]:
12*7

84

In [37]:
# Division of integer data types results in a float value
12/6

2.0

In [38]:
# Python follows the mathematical conventions to perform
# the  mathematical operations
2 * 3 + 7

13

In [39]:
2 + 3 * 7

23

Similarly,expressions undert the parenthesis will be operated first.

### Variables

The variable is a kind of bucket in which we can store a data type. For example, in the below code snippet, we are treating `temp_variable` as a variable to store the value 6. Now this variable can be used somewhere else in the code, carrying the value of 6 with it.

In [40]:
temp_variable = 6

The usefulness of the variables can be thought of as if we want to change a value from 6 to 7; then, if we have everywhere written 6, we will have to change it everywhere in the code. But if we have used a variable with a value of 6 and then used that variable everywhere else, we could change the value of that variable once,and it will reflect everywhere else