In Machine Learning and Data Science fields, we need to store a large amount of data so that our algorithms can access them efficiently. That's where Data Structures come into the picture. In our previous article, we learned about two important data structures in Python used in ML and Data Science, Tuples and Lists. In this article, we will cover other data structures frequently used in AI applications: **Sets** and **Dictionaries**.

**Key takeaways from the blog**

Afte going through this blog, we will be able to understand the following things:

1. What are sets?
2. What are the various operations that can be performed in Sets?
3. Conversion of lists into sets.
4. What are Dictionaries?
5. What are the various operations that can be performed on Sets?
6. Comparision of sets and dictionaries.

So let's start with sets.

## Sets in Python

Sets are a collection type used to store multiple data types together. Unlike lists and tuples, sets are unordered, meaning they do not hold the positions or indexes of the elements they keep. Also, every element is unique in nature, and we can not store duplicated inside sets. We define sets using curly brackets. Please note the example contains a duplicate.

In [1]:
a = {'EnjoyAlgorithms', 1.2, 7, 7}
a

{1.2, 7, 'EnjoyAlgorithms'}

In [2]:
type(a)

set

In [3]:
a = {'EnjoyAlgorithms', 1.2, (7, 7)}
a

{(7, 7), 1.2, 'EnjoyAlgorithms'}

When we finally print the set created, we notice that it automatically removes the duplicates. But when we place duplicates as a tuple, it stores the same form without removal as (7, 7) is treated as a single entity.

**Converting lists or tuples into sets**

We can convert the list or tuple data types into sets using the `set()` function. This process of converrting is known as **type casting**. Let's see using one example:

In [4]:
a = ('a', 'b', 'c', 'd')
set(a)

{'a', 'b', 'c', 'd'}

In [5]:
a = ['a', 'b', 'c', 'd']
set(a)

{'a', 'b', 'c', 'd'}

In [6]:
a = ['a', 'a', 'b', 'b']
set(a)

{'a', 'b'}

An exiting thing to note here: Lists and tuples store elements sequentially, and hence the order of storing elements matters a lot. But a set does not carry any information about the positions. Thus after conversion, we lost the information about the orders in tuples or lists. Also, in the last example, after converting a list (containing duplicates) into a set, a set kept only the unique elements. This property can be convenient sometimes.

**Nesting in sets**

A set cann't contain another set inside it. For example:

In [7]:
a = {'EnjoyAlgorithms', 1.2, (7, 7), { 7,7 }}

TypeError: unhashable type: 'set'

**How to access elements from a set?**

As we discussed, sets fo not contain information about positions, so we can not access eleements using the index values. But we cam check whether a particular element is present in a given set or not. For example:

In [8]:
a = { 'a', 'b', 'c', 'd', 'e', 'f', 'g'}
'e' in a

True

**How to add elements in a set?**

**Single Element**: We can add elements in a given set by using the `.add` operation in the case of single elements. For example:

In [9]:
a = {'a', 'b', 'c', 'd'}
a.add('e')
a

{'a', 'b', 'c', 'd', 'e'}

In [10]:
a.add('c')

In [11]:
a

{'a', 'b', 'c', 'd', 'e'}

**Multiple Elements**: We can add multiple elements in a given set using the `.update` operation. For example:

In [12]:
a

{'a', 'b', 'c', 'd', 'e'}

In [13]:
b = ['e', 'f', 'g']
a.update(b)
a

{'a', 'b', 'c', 'd', 'e', 'f', 'g'}

Now we know how to add elements inside a set. Let's also learn about the method of removing elements from a given set.

**How to remove elements from a set?**

To remove the element from a given set, we can use either of the two operations `.remove()` or `.discard()`.

In [14]:
a = {'EnjoyAlgorithms', 1.2, 7, 'ML'}
a.remove(1.2)
a

{7, 'EnjoyAlgorithms', 'ML'}

In [15]:
a.discard('ML')
a

{7, 'EnjoyAlgorithms'}

Please note that we can not remove multiple elements at the same time. Hence, we need to remove elements one by one for multiple items.

**How to find the length of a set?**

We can use the same `len()`function that we saw in the case of lists and tuples to find the length of a given set in Python.

In [16]:
a = {'EnjoyAlgorithms', 1.2, 7, 'ML'}
len(a)

4

We have seen multiple things about Sets, but one of the key things that make Sets unique in Python is the support of mathematical operations. Let's quickly see how these Sets can be used to find union, intersection, or other mathematical operations.

**Mathematical Operations of Sets in Python**

If we are familiar with the sets in mathematics, we might know that sets can be defined using a Venn diagram or circular representation.

![venn](../assets/venn.jpeg)

The are a lot of important mathematical operations that can be done using Sets, like

#### Union

Union is an operation used to form a new set out of all individual sets containing all the unique elements inside the individual sets. In simple terms, a union consists of all elements from all the individual sets. We can use the `|` operation in Python to calculate the union. For example

In [17]:
a = {'EnjoyAlgorithms', 1.2, 7, 'ML'}
b = {'Python', 'C++', 'Java', "EnjoyAlgorithms"}
a|b

{1.2, 7, 'C++', 'EnjoyAlgorithms', 'Java', 'ML', 'Python'}

We can also the `.union()` operation for finding the union. The general syntax would be `set.union(set1, set2,...)`. For example:

In [18]:
a = {'EnjoyAlgorithms', 1.2, 7, 'ML'}
b = {'Python', 'C++', 'Java', "EnjoyAlgorithms"}
c = {'SS', 'OOPs'}
d = a.union(b, c)
d

{1.2, 7, 'C++', 'EnjoyAlgorithms', 'Java', 'ML', 'OOPs', 'Python', 'SS'}

#### Intersection

Using itersection operation, we can form a new set containing common elements from all the sets. We can use Python's `&` ampersand operator to find the intersection of sets. For example:

In [19]:
a = {'EnjoyAlgorithms', 1.2, 7, 'ML'}
b = {'Python', 'C++', 'Java', "EnjoyAlgorithms"}

a&b

{'EnjoyAlgorithms'}

In [20]:
a.intersection(b)

{'EnjoyAlgorithms'}

In [23]:
c = {'a', 'b'}
a.intersection(b, c)

set()

As we have only one element in common between sets a and b `EnjoyAlgorithms`, hence the output is `EnjoyAlgorithms`. We can also use the `.intersection()` operator to find the intersection. The general syntax would be `set.intersection(set1, set2, ...)`. If there are no common elements, it will produce an empty set, as shown in the example above.

#### Set Diffrence

We can also find the difference between the two sets using the `-` operator in Python. If we substract sets A and B by using A-B, the resultant would be a new set with elements unique to set A. For example:

In [24]:
a = {'EnjoyAlgorithms', 1.2, 7, 'ML'}
b = {'Python', 'C++', 'Java', "EnjoyAlgorithms"}
a-b

{1.2, 7, 'ML'}

#### Checking if one set is a subset of other

We can also check whether a given set is a subset of another set or not. A set is a subset of another set if all the elements present in the formet set can be found in the latter set. For example:

In [25]:
a = {'ML', 'DataScience', 'RL', 'DL', 'NN'}
b = {'DL', 'NN'}
b.issubset(a)

True

#### Copy method in set

It's important to note in sets that if we assign the value of one set to a new set and then perform operations on the newer set, those opeations will also be automatically performed on the orginal set. For example:

In [26]:
a = {'ML', 'DataScience', 'RL', 'DL', 'NN'}
b = a
b.remove('RL')
b

{'DL', 'DataScience', 'ML', 'NN'}

In [27]:
a

{'DL', 'DataScience', 'ML', 'NN'}

But we might be thinking about how to perform this assignment as it;s an important feature. So we need to use the `.copy()` operator to make a copy of the orginal set and then perform operation.

In [28]:
a = {'ML', 'DataScience', 'RL', 'DL', 'NN'}
b = a.copy()

b.remove('RL')
b

{'DL', 'DataScience', 'ML', 'NN'}

In [29]:
a

{'DL', 'DataScience', 'ML', 'NN', 'RL'}

#### Miscellaneous

In [33]:
a = {1, 2, 3, 4, 5}
min_a = min(a)
min_a

1

In [34]:
max_a = max(a)
max_a

5

In [35]:
sum_a = sum(a)
sum_a

15

In [36]:
b = {3, 4, 5, 6, 7}
a.intersection_update(b)
a

{3, 4, 5}

In [37]:
a = {1,2,3,4,5}
a.difference_update(b)
a

{1, 2}

That's enough for the basic understanding of sets. Let's learn about our second data structure for this blog, ...Dictionaries.

### Dictionaries in Python

A dictionary is another type of collection in Python that stores multiple types of data types present. If we remember lists, we saw the integer indexes as addresses for the varous elements present in the list. In the same line, we have dictionaries, but instead of integer indexes, we have strings.

![dictionaries](../assets/dictionaries.jpeg)

To create a dictionary, we use curly brackets; likewise we did in sets. But here, we place Keys followed by a colon and then the corresponding values. The keys must be immutable and unique, whick means we can not make two keys ewith the same name. Also, the values for any key be immutable, mutable, or even duplicates. We can also store lists, tuples, or sets as the values inside the Dictionary, and the pair of keys and values would be separated by a comma `,`. For example:

In [38]:
a = {'key1': [1,2,3], 'key2': 'EnjoyAlgorithms', 'key3':7, 'key4': {1,3,5}}
type(a)

dict

In [40]:
alpha = {1.2: 1.2, 7:7, 'This is awesome': 11}
type(alpha)

dict

Please note that these keys can be strings, integets or floats. Let's quickly see some essential operations that can be performed on dictionaries.

#### How to access elements from a dictionary in Python?

We can extract an element from a dictionary using the reference for the corresponding key in square brackets. We can also use the `.get()` operator to do the same. For example:

In [41]:
a = {'key1': [1,2,3], 'key2': 'EnjoyAlgorithms', 'key3':7, 'key4': {1,3,5}}

a['key2']

'EnjoyAlgorithms'

In [42]:
a.get('key2')

'EnjoyAlgorithms'

#### How to add elements in a  dictionary in Python?

We can add a new *key-value* pair with just an assignment operation, `given_dict[key = value`. For example:

In [43]:
a = {'key1': [1,2,3], 'key2': 'EnjoyAlgorithms', 'key3':7, 'key4': {1,3,5}}
a['key5'] = (1,2,4)
a

{'key1': [1, 2, 3],
 'key2': 'EnjoyAlgorithms',
 'key3': 7,
 'key4': {1, 3, 5},
 'key5': (1, 2, 4)}

Please note that there was no `key5` earlier, but it appeared after the assignment.

#### How to change the value of a key in Python dictionary?

We can assign the new value to the corresponding key. For example:

In [44]:
a = {'key1': [1,2,3], 'key2': 'EnjoyAlgorithms', 'key3':7, 'key4': {1,3,5}}
a['key4'] = 'ML'
a

{'key1': [1, 2, 3], 'key2': 'EnjoyAlgorithms', 'key3': 7, 'key4': 'ML'}

#### Can you guess how we can change any key in a dictionary?

As we said, keys are immutable; hence we can not change any key in a given dictionary. For that, we need to add a new key with the new name containing the same vlaues as the older key. Later we can delete the older key.

#### Removing a key or element from a python dictionary

We can use the `del` operation to delete a particular key from a given dictionary. For example:

In [45]:
a = {'key1': [1,2,3], 'key2': 'EnjoyAlgorithms', 'key3':7, 'key4': {1,3,5}}
del a['key4']
a

{'key1': [1, 2, 3], 'key2': 'EnjoyAlgorithms', 'key3': 7}

#### Get all keys and all values of a python dictionary

We can get a list of all the keys and values separatedly by using `.keys()` and `.values()` operators, respectively. For example:

In [46]:
a = {'key1': [1,2,3], 'key2': 'EnjoyAlgorithms', 'key3':7, 'key4': {1,3,5}}

a.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [47]:
a.values()

dict_values([[1, 2, 3], 'EnjoyAlgorithms', 7, {1, 3, 5}])

#### fromkeys method in Python dictionary

The `fromkeys()` method forms a new dictionary with the default values for all the keys mentioned. If we do not define the default values, all values will be assigned to None.

In [48]:
a = dict.fromkeys([7, 11], 'EnjoyAlgorithms')
a

{7: 'EnjoyAlgorithms', 11: 'EnjoyAlgorithms'}

In [49]:
a = dict.fromkeys([7, 11])
a

{7: None, 11: None}

### Nesting of python dictionaries

We can store a new dictionary as a value inside a key. For example

In [50]:
a = {'key1': [1, 2, 3], 'key2': { 'ML': 'EnjoyAlgorithms' }}
type(a['key1'])

list

In [51]:
type(a['key2'])

dict

## Comparison of sets and dictionaries

![](../assets/compare_dic_set.jpeg)